.icon {
  max-width: 70%;
  max-height: 70%;
  margin: 4px;
}
.tourpopup h1 {
  font-size: 18px;
}
.tourpopup {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
.menu {
  margin: 5px;
  position: fixed;
  top: 5px;
  right: 5px;
  background-color: white;
  padding: 8px;
  border-radius: 12px;
  border: 1px solid black;
}

.menu ul {
  margin: 5px;
  font-size: 18px;
}

#map {
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.menu #hamburgerCheck {
  opacity: 0;
  width: 0;
  height: 0;
}

.menu li {
  display: block;
}

.menu ul {
  margin-top: 20px;
}

.menu input ~ ul {
  visibility: hidden;
  display: none;
}

.menu input:checked ~ ul {
  visibility: visible;
  display: inline;
}

.hamburger_menu {
  float: right;
  cursor: pointer;
}
